@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, hr, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

b, strong {
  font-weight: 600;
}

html {
  position: static !important;
  top: 0 !important;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Additional Fonts:
.raleway {
  font-family:Raleway, sans-serif !important;
}
.sourceSans {
  font-family:"Source Sans Pro", sans-serif !important;
}
.playfair {
  font-family:"Playfair Display", serif !important;
}
.georgia {
  font-family:Georgia, serif !important;
} */
/***
 *      __  __
 *     |  \/  |     ( )
 *     | \  / | __ _ _ _ __
 *     | |\/| |/ _` | | '_ \
 *     | |  | | (_| | | | | |
 *     |_|  |_|\__,_|_|_| |_|
 *
 *
 */
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

html.scrollable,
html.scrollable body {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

img {
  max-width: 100%;
  display: inline-block;
}

img.rounded {
  border-radius: 3px;
}

.slides {
  color: #fff;
  fill: #fff;
  font-family: "Source Sans Pro", sans-serif;
  background: #111;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

.safari.retina .slides {
  -webkit-font-smoothing: subpixel-antialiased;
}

.slides.bodyWhite {
  background: #fff;
}

.slides.desktopSwipe {
  cursor: -webkit-grab;
}

.slides.desktopSwipe:active {
  cursor: -webkit-grabbing;
}

.slides.desktopSwipe .slide .container .wrap {
  cursor: inherit;
}

/* typography */
a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}
a.underline {
  text-decoration: underline;
}
a:hover {
  -webkit-transition: 0.15s;
  transition: 0.15s;
  opacity: 0.8;
}

h1, .h1 {
  font-size: 52px;
  line-height: 1.05;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: -0.036em;
}
h1.big, .h1.big {
  font-size: 70px;
  line-height: 1;
}
h1.huge, .h1.huge {
  font-size: 100px;
  line-height: 1;
  letter-spacing: -0.04em;
  margin-bottom: 40px;
}
h1.small, .h1.small {
  font-size: 46px;
}
h1.micro, .h1.micro {
  font-size: 34px;
}

h2,
.h2 {
  font-size: 35px;
  line-height: 1.17;
  margin-bottom: 15px;
  font-weight: 400;
}
h2.uppercase,
.h2.uppercase {
  letter-spacing: 0.2em !important;
}
h2.small,
.h2.small {
  font-size: 23px;
}
h2.micro,
.h2.micro {
  font-size: 19px;
}
h2.huge,
.h2.huge {
  font-size: 45px;
}

h3,
.h3 {
  font-size: 22px;
  margin-bottom: 12px;
  font-weight: 600;
}
h3.large,
.h3.large {
  font-size: 32px;
}
h3.big,
.h3.big {
  font-size: 24px;
}
h3.small,
.h3.small {
  font-size: 20px;
}

p,
.p {
  font-size: 24px;
  line-height: 1.385;
  margin-bottom: 30px;
  opacity: 0.8;
}
p.hero,
.p.hero {
  font-size: 36px;
  line-height: 1.25;
  letter-spacing: -1px;
  font-weight: 300;
  margin-bottom: 25px;
}
p.large,
.p.large {
  font-size: 32px;
  line-height: 1.4;
}
p.small,
.p.small {
  font-size: 22px;
  line-height: 1.36;
  margin-bottom: 20px;
}
p.tiny,
.p.tiny {
  font-size: 20px;
  line-height: 1.29441;
  margin-bottom: 20px;
}
p.micro,
.p.micro {
  font-size: 17px;
  line-height: 1.22727273;
  margin-bottom: 20px;
  margin-top: 2px;
}
p:not(.hero) + p,
.p:not(.hero) + p {
  margin-top: -20px;
}
p + h2,
p + .h2,
.p + h2,
.p + .h2 {
  margin-top: 60px;
}

small {
  font-size: 17px;
  line-height: 1.3;
}
small .small {
  font-size: 14px;
  line-height: 1.28;
}

.uppercase {
  text-transform: uppercase !important;
  letter-spacing: 0.15em !important;
  text-indent: 0.1em !important;
  font-weight: 700 !important;
}

/* buttons */
.button {
  display: inline-block;
  border-radius: 3px;
  padding: 13px 22px 16px;
  color: #fff;
  border: none;
  outline: none;
  text-decoration: none;
  background: #202020;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  white-space: nowrap;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  box-shadow: inset 0 -100px 0 transparent;
  -webkit-appearance: none;
  margin-bottom: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.slide .button {
  margin-left: 7px;
  margin-right: 7px;
}
.slide .button.small {
  margin-left: 4px;
  margin-right: 4px;
}
.button .material-icons {
  vertical-align: bottom;
  margin-right: 11px;
}
.button .material-icons.right {
  margin-left: 11px;
  margin-right: 0px;
}
.button svg {
  width: 22px;
  height: 22px;
  vertical-align: bottom;
  margin-right: 14px;
  pointer-events: none !important;
  position: relative;
}
.button svg * {
  pointer-events: none !important;
}
.button.actionButton {
  display: inline-block;
  height: 50px;
  width: 50px;
  padding: 14px;
  border-radius: 25px;
  z-index: 999;
  background: rgba(40, 40, 40, 0.6);
  line-height: 1;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05);
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  vertical-align: top;
}

.button.actionButton svg, .slide.whiteSlide .button.actionButton svg {
  fill: #fff;
}

.button:not(.stroke) svg {
  fill: #fff;
}
.button.round {
  border-radius: 99px;
  padding-left: 28px;
  padding-right: 28px;
}

.roundButton {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  padding: 14px;
  margin: 5px;
}
.roundButton svg {
  bottom: 2px;
}

.social-circles {
  font-size: 0;
}

.social-circles li {
  display: inline-block;
}

.slide {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #303030;
  color: #fff;
  z-index: 10;
  overflow: hidden;
}
.slide.active {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.mobile .slide {
  visibility: hidden;
}
.mobile .slide.active {
  visibility: visible;
}
.slide.whiteSlide {
  color: #303030;
  background: #fff;
}

.content {
  overflow: hidden;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  -webkit-overflow-scrolling: touch;
}
.content.scrollBar {
  overflow-y: auto;
}
.windows .defaultScroll .content {
  overflow: auto;
  overflow-x: hidden;
}
.mobile .content {
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

/* Background Fade */
.fade .content {
  background: rgba(17, 19, 20, 0.6);
}

.container {
  display: table;
  table-layout: fixed;
  position: relative;
  width: 100%;
  height: 100%;
}
.container .wrap {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}
.container .wrap:not(.noSpaces), .container .wrap.spaceWrap,
.container .wrap .spaceWrap {
  padding: calc(5.56% + 50px) calc(8% + 4px);
}
.container .wrap .overflowHidden {
  overflow: hidden;
}
.container .wrap * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.design-resources-download {
  color: #D83838;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5s;
}

.design-resources-download .circle {
  border-radius: 50px;
  background: #d83838;
  color: #fff;
  margin-right: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  padding: 5px;
  font-size: 20px;
}

.slide .background,
.popup .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.slide .background iframe,
.popup .background iframe {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.slide:not(.youtube) .background iframe,
.popup:not(.youtube) .background iframe {
  width: 100%;
  height: 100%;
}

/* Grid */
.grid {
  margin-left: -2%;
  margin-right: -2%;
}
.grid [class*='col-'] {
  display: block;
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  float: left;
}
.grid.fixedSpaces {
  margin-left: -14px;
  margin-right: -14px;
}
.grid.fixedSpaces [class*='col-'] {
  padding-left: 14px;
  padding-right: 14px;
}
.grid.noSpaces {
  margin-left: 0;
  margin-right: 0;
}
.grid.noSpaces [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}
.grid .toLeft[class*='col-'] {
  margin-left: 0 !important;
  margin-right: auto !important;
}
.grid .toRight[class*='col-'] {
  margin-right: 0 !important;
  margin-left: auto !important;
  float: right;
}
.grid .toCenter[class*='col-'] {
  margin-left: auto !important;
  margin-right: auto !important;
}
.grid > .col-1-12 {
  max-width: 8.33333%;
}
.grid > .col-2-12 {
  max-width: 16.66667%;
}
.grid > .col-3-12 {
  max-width: 25%;
}
.grid > .col-4-12 {
  max-width: 33.33333%;
}
.grid > .col-5-12 {
  max-width: 41.66667%;
}
.grid > .col-6-12 {
  max-width: 50%;
}
.grid > .col-7-12 {
  max-width: 58.33333%;
}
.grid > .col-8-12 {
  max-width: 66.66667%;
}
.grid > .col-9-12 {
  max-width: 75%;
}
.grid > .col-10-12 {
  max-width: 83.33333%;
}
.grid > .col-11-12 {
  max-width: 91.66667%;
}
.grid > .col-12-12 {
  max-width: 100%;
}
.grid + .grid {
  margin-top: 20px;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}

.fix-1-12 {
  max-width: 93px !important;
}

.fix-2-12 {
  max-width: 186px !important;
}

.fix-3-12 {
  max-width: 279px !important;
}

.fix-4-12 {
  max-width: 371px !important;
}

.fix-5-12 {
  max-width: 464px !important;
}

.fix-6-12 {
  max-width: 557px !important;
}

.fix-7-12 {
  max-width: 650px !important;
}

.fix-8-12 {
  max-width: 743px !important;
}

.fix-9-12 {
  max-width: 836px !important;
}

.fix-10-12 {
  max-width: 928px !important;
}

.fix-11-12 {
  max-width: 1021px !important;
}

.fix-12-12 {
  max-width: 1114px !important;
}

[class*='fix-'] {
  width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  float: none;
}

.toCenter {
  margin-left: auto !important;
  margin-right: auto !important;
}

.popupTrigger,
.dropdownTrigger,
.sidebarTrigger {
  cursor: pointer;
}

/* smaller that tablet landscape */
@media (max-width: 1023px) {
  .videoThumbnail {
    max-width: 100%;
    width: 100%;
  }

  .grid:not(.later) > [class*='col-'] {
    max-width: 100% !important;
    width: 100% !important;
  }

  .grid:not(.later) > [class*='col-'] .mobileLeft {
    text-align: left;
  }

  .grid:not(.later) > [class*='col-'] .mobileRight {
    text-align: right;
  }

  .grid:not(.later) > [class*='col-'] .pad {
    border: none;
    padding: 10% 0 !important;
    border-radius: 0;
    -webkit-transition: 0s !important;
    transition: 0s !important;
  }

  .grid:not(.later) > [class*='col-'] .pad:hover,
  .grid:not(.later) > [class*='col-'] .pad.stroke {
    background: inherit;
    color: inherit;
  }

  .shiftImage {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .shiftImageVertical {
    margin-right: 0 !important;
    max-width: 100% !important;
  }
}
/* phablet landscape and tablet portrait and smaller */
@media (max-width: 766px) {
  .grid.later > [class*='col-'] {
    max-width: 100% !important;
    width: 100% !important;
  }

  .grid.later > [class*='col-'] .mobileLeft {
    text-align: left;
  }

  .grid.later > [class*='col-'] .mobileRight {
    text-align: right;
  }
}

.panel {
  position: fixed;
  left: 0;
  width: 100%;
  padding: 1.5% 1.8%;
  z-index: 200;
  text-align: center;
  font-size: 22px;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.panel.large {
  padding: 2.78% 5%;
}
.panel.small {
  padding-top: 14px;
  padding-bottom: 14px;
}
.panel.top {
  top: 0;
}
.panel.bottom {
  bottom: 0;
}
.animated .panel.top, .animateOnScroll .panel.top {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  opacity: 0;
}
.animated .panel.bottom, .animateOnScroll .panel.bottom {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  opacity: 0;
}
.animated .panel.bottom:not(.fixed), .animateOnScroll .panel.bottom:not(.fixed) {
  -webkit-transform: translate3d(0, 0, 0) !important;
          transform: translate3d(0, 0, 0) !important;
}
.page-loaded .animated .panel, .page-loaded .animateOnScroll .panel {
  -webkit-transition: opacity 0.5s, padding 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, padding 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s, padding 0.5s;
  transition: transform 0.5s, opacity 0.5s, padding 0.5s, -webkit-transform 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}
.slides.whiteSlide .panel {
  color: #303030;
}
.scroll .panel.hideOnScroll.top.hide, .mobile .simplifiedMobile .panel.hideOnScroll.top.hide {
  -webkit-transform: translateY(-100%) !important;
          transform: translateY(-100%) !important;
  opacity: 0;
}
.scroll .panel.hideOnScroll.bottom.hide, .mobile .simplifiedMobile .panel.hideOnScroll.bottom.hide {
  -webkit-transform: translateY(100%) !important;
          transform: translateY(100%) !important;
  opacity: 0;
}
.panel .sections {
  display: table;
  width: 100%;
  font-size: 0;
}
.panel .sections > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 33.33333%;
  white-space: nowrap;
  font-size: 22px;
  height: 50px;
}
.panel .sections > div.auto {
  width: 0.1%;
}
.panel .sections > div * {
  pointer-events: all;
}
.panel .sections > div.left {
  text-align: left;
}
.panel .sections > div.left ul.crop {
  padding-left: 0;
}
.panel .sections > div.left ul.crop li:first-child {
  margin-left: 0;
}
.panel .sections > div.left.space {
  padding-right: 20px;
}
.panel .sections > div.right {
  text-align: right;
}
.panel .sections > div.right ul.crop {
  padding-right: 0;
}
.panel .sections > div.right ul.crop li:last-child {
  margin-right: 0;
}
.panel .sections > div.right.space {
  padding-left: 20px;
}
.panel .sections > div.center.space {
  padding: 0 20px;
}
.panel .sections.hidden {
  display: none;
}
.panel .sections .menu {
  white-space: nowrap;
  display: inline-block;
  padding: 0 20px;
  font-size: 0;
}
.panel .sections .menu li {
  font-size: 22px;
  display: inline-block;
  margin: 0 10px;
}
.panel .sections .menu li a {
  padding: 4px 10px 5px;
}
.panel .sections .menu.small li {
  font-size: 18px;
  margin: 0 4px;
}
.panel .sections .menu.uppercase {
  font-weight: 600 !important;
}
.panel .sections .menu.uppercase li {
  font-size: 17px;
  margin: 0 10px;
  letter-spacing: 0.15em;
}
.panel .sections .menu.uppercase.small li {
  font-size: 17px;
}
.panel .hidden,
.panel .hidden * {
  display: none;
}

.loadingIcon {
  position: fixed;
  z-index: 10000;
  text-align: center;
  top: 10px;
  right: 10px;
  opacity: 0;
}

.page-ready .loadingIcon {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: 0.5s 0.5s;
  transition: 0.5s 0.5s;
}

.loadingIcon svg {
  width: 24px;
  height: 24px;
}

.loadingIcon svg .dash {
  stroke: #fff;
}

.page-loaded .loadingIcon {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  pointer-events: none;
  -webkit-transition: all 0.5s, visibility 0s 5s;
  transition: all 0.5s, visibility 0s 5s;
}

.slides .loadingIcon svg {
  -webkit-animation: loading 3s infinite cubic-bezier(0.64, 0.48, 0.55, 0.64);
          animation: loading 3s infinite cubic-bezier(0.64, 0.48, 0.55, 0.64);
}

.page-loaded .slides .loadingIcon svg {
  -webkit-animation: none;
  animation: none;
}

.loadingIcon svg .dash {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(-1080deg);
            transform: rotate(-1080deg);
  }
}

@keyframes loading {
  from {
    -webkit-transform: rotate(-1080deg);
            transform: rotate(-1080deg);
  }
}
/***
 *       _____       _
 *      / ___/( )   | |
 *     | (___  _  __| | ___
 *      \___ \| |/ _` |/ _ \
 *      ____) | | (_| |  __/
 *     /_____/|_|\__,_|\___/
 *
 *
 */
.side {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 100;
  padding: calc(3% + 50px) 4%;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  /* compact navigation */
  /* for nav in panel */
}
@media (min-width: 1380px) {
  .side {
    padding-left: 55px;
    padding-right: 55px;
  }
}
.page-loaded .side {
  opacity: 1;
}
.side.large {
  padding: calc(5.56% + 50px) 5%;
}
.side.left {
  left: 0;
  right: inherit;
}
.side.right {
  right: 0;
  left: inherit;
}
.side.compact {
  padding: 30px 4%;
}
.side.compact .navigation li {
  width: 15px;
  height: 7px;
  margin: 0;
  box-shadow: none;
  border-radius: 0;
  background: #fff;
  opacity: 0.2;
  padding: 1px;
  cursor: pointer;
}
.side.compact .navigation li.selected, .side.compact .navigation li:hover {
  opacity: 1;
}
.side.compact .navigation li:after {
  display: none;
}
.side.compact .navigation li:before {
  margin: 0 -12px;
  top: -10px;
}
.whiteSlide .side.compact .navigation li {
  background: #303030;
}
.side.compact:not(.square) .navigation li:first-child {
  border-radius: 10px 10px 0 0;
}
.side.compact:not(.square) .navigation li:last-child {
  border-radius: 0 0 10px 10px;
}
.panel .side {
  position: relative;
  display: inline;
  height: auto;
  padding: 0;
}
.slides.whiteSlide .side svg:not([fill]) {
  fill: #303030;
}

.navigation {
  display: table;
  height: 100%;
}
.navigation ul {
  display: table-cell;
  vertical-align: middle;
}
.navigation * {
  pointer-events: all;
}
.navigation li {
  fill: #fff;
  display: block;
  background: transparent;
  padding: 9px;
  margin: 0 -9px;
  cursor: pointer;
  position: relative;
}
.navigation li:after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 7px;
  opacity: 0.5;
  background: #fff;
  box-shadow: 0 0 1px #303030;
  -webkit-transition: opacity 0.25s, background 0.25s;
  transition: opacity 0.25s, background 0.25s;
}
.navigation li.selected:after {
  opacity: 1;
}
.navigation li:hover:after {
  opacity: 1;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  max-width: 90%;
  height: 100%;
  color: #fff;
  z-index: 500;
  background: #6e135a;
  -webkit-transition: visibility 0s, -webkit-transform 0.5s;
  transition: visibility 0s, -webkit-transform 0.5s;
  transition: transform 0.5s, visibility 0s;
  transition: transform 0.5s, visibility 0s, -webkit-transform 0.5s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  /* ELEMENTS */
  /* menu items */
  /* social */
}
.sidebarShown .sidebar.visible {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}
.sidebar .content {
  padding: 40px;
  overflow-y: auto;
  position: relative;
}
.sidebar.small .content {
  padding: 30px;
}
.sidebar .wrap {
  padding: 0;
}
.sidebar.left {
  right: inherit;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.sidebar.top {
  top: 0;
  width: 100%;
  max-width: 100%;
  height: auto;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.sidebar.bottom {
  bottom: 0;
  top: inherit;
  width: 100%;
  max-width: 100%;
  height: auto;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.sidebar .logo {
  padding: 0;
  font-size: 0;
  margin-bottom: 35px;
}
.sidebar a {
  display: inline-block;
  color: #fff;
  fill: #fff;
}
.sidebar a:hover {
  opacity: 0.8;
}
.sidebar .close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 14px;
  font-size: 0;
  opacity: 0.5;
  z-index: 101;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.sidebar .close:hover {
  opacity: 1;
}
.sidebar .close svg {
  width: 30px;
  height: 30px;
  fill: #fff;
}
.sidebar .close:active svg {
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}
.sidebar ul {
  line-height: 1.9;
  margin-bottom: 25px;
  display: block;
  font-size: 0;
}
.sidebar .uppercase li a {
  text-transform: uppercase;
  letter-spacing: 0.15em;
}
.sidebar .mainMenu li a {
  font-size: 19px;
  font-weight: 600;
}
.sidebar .mainMenu.small li a {
  font-size: 22px;
}
.sidebar .subMenu li {
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0px;
  opacity: 0.8;
  font-size: 22px;
}
.sidebar .subMenu.small li {
  font-size: 17px;
}
.sidebar .social {
  margin-top: 40px;
}
.sidebar .social li {
  display: inline-block;
  margin-right: 20px;
}
.sidebar .social li:last-child {
  margin-right: 0;
}
.sidebar .social li a {
  font-size: 0;
  padding: 0;
}

.page-loaded.sidebarShown .panel,
.page-loaded.sidebarShown .slide.selected,
.page-loaded.sidebarShown .slide.selected:after,
.sidebar {
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s !important;
  transition: opacity 0.5s, -webkit-transform 0.5s !important;
  transition: transform 0.5s, opacity 0.5s !important;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s !important;
}

/***
 *      _____
 *     |  __ \
 *     | |__) __  _ __  _   _ _ __
 *     |  ___/ _ \| '_ \| | | | '_ \
 *     | |  | (_) | |_) | |_| | |_) |
 *     |_|   \___/| .__/ \__,_| .__/
 *                | |         | |
 *                |_|         |_|
 */
/* POPUP */
.popup {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 1000;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  overflow-y: auto;
  display: none;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.popup:not([class*="fade"]) {
  background: rgba(17, 17, 17, 0.9);
}
.popupShown .popup.visible {
  display: block;
  -webkit-animation: popupFadeIn 0.75s;
          animation: popupFadeIn 0.75s;
}
.popup .content {
  overflow-y: auto;
}
.popupShown .popup.visible:not(.animated) .popupContent {
  -webkit-animation: zoomOut 0.5s 0.25s backwards;
          animation: zoomOut 0.5s 0.25s backwards;
}
.popupShown .slow .popup.visible {
  -webkit-animation: fadeIn 1.25s;
          animation: fadeIn 1.25s;
}
.popupShown .slow .popup.visible:not(.animated) .popupContent {
  -webkit-animation: zoomOut 1s 0.25s backwards;
          animation: zoomOut 1s 0.25s backwards;
}
.popupShown .fast .popup.visible {
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}
.popupShown .fast .popup.visible .popupContent {
  -webkit-animation: zoomOut 0.5s 0.25s backwards;
          animation: zoomOut 0.5s 0.25s backwards;
}
.popup .close {
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 14px;
  font-size: 0;
  opacity: 0.5;
  z-index: 1050;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.popup .close.left {
  right: inherit;
  left: 0;
}
.popup .close:hover {
  opacity: 1;
}
.popup .close svg {
  width: 30px;
  height: 30px;
  fill: #fff;
}
.popup .close.closeButton {
  margin: 14px;
  display: inline-block;
  position: relative;
  font-size: 18px;
  line-height: 1;
  border-radius: 3px;
  padding: 13px 20px;
  border: none;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
  -webkit-appearance: none;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
  color: #fff;
  background: #303030;
  text-decoration: none;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.popup .close.closeButton.round {
  padding-left: 18px !important;
  padding-right: 18px !important;
  border-radius: 50px;
}
.popup .close.closeButton svg {
  width: 20px;
  height: 20px;
  fill: #fff;
  position: relative;
  left: -4px;
  margin-right: 4px;
}
.popup .close.closeButton.white svg {
  fill: #303030;
}
.popup.white .close svg {
  fill: #303030;
}
.popup .wrap {
  padding: 18px 58px;
}
.popup .wrap.spaces {
  padding: 58px;
}
.popup.fullscreen .wrap {
  padding: 0;
}
.popup.fullscreen .embedVideo {
  height: 100vh;
  padding-bottom: 0;
}

@-webkit-keyframes popupFadeIn {
  from {
    opacity: 0;
  }
}

@keyframes popupFadeIn {
  from {
    opacity: 0;
  }
}
/* embed video container for slides and popups */
.embedVideo {
  position: relative;
  padding-bottom: 56.25%;
  /* 16x9 */
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embedVideo iframe,
.embedVideo object,
.embedVideo embed,
.embedVideo video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.embedVideo.size-16x10 {
  padding-bottom: 62.5%;
}

.embedVideo.size-16x10 {
  padding-bottom: 62.5%;
}

.embedVideo.size-4x3 {
  padding-bottom: 75%;
}

.embedVideo.size-1x1,
.embedVideo.size-square {
  padding-bottom: 100%;
}

/***
 *      ______                       _____
 *     |___  /                      |_   _|
 *        / / ___   ___  _ __ ___     | |  _ __ ___   __ _  __ _  ___
 *       / / / _ \ / _ \| '_ ` _ \    | | | '_ ` _ \ / _` |/ _` |/ _ \
 *      / /_| (_) | (_) | | | | | |  _| |_| | | | | | (_| | (_| |  __/
 *     /_____\___/ \___/|_| |_| |_| |_____|_| |_| |_|\__,_|\__, |\___/
 *                                                          __/ |
 *                                                         |___/
 */
[data-action="zoom"] {
  cursor: pointer;
  cursor: -webkit-zoom-in;
}

.zoom-img,
.zoom-img-wrap {
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 0, 0.3, 1) !important;
          transition-timing-function: cubic-bezier(0.2, 0, 0.3, 1) !important;
  z-index: 100;
}
.zoom-img img.zoom-img,
.zoom-img-wrap img.zoom-img {
  margin: 0 !important;
  cursor: pointer;
  cursor: -webkit-zoom-out;
}

.zoom-overlay {
  background: #111111;
  position: fixed;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  z-index: 99;
}

.zoom-overlay-open .zoom-overlay {
  opacity: 0.9;
}

.zoom-overlay-open .side,
.zoom-overlay-open .panel {
  opacity: 0;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.zoom-overlay-open,
.zoom-overlay-transitioning {
  cursor: default;
}

.zoom-img-parent {
  position: relative;
  z-index: 1000;
}

/***
 *       _____ _ _     _
 *      / ___/| (_)   | |
 *     | (___ | |_  __| | ___ _ __
 *      \___ \| | |/ _` |/ _ \ '__/
 *      ____) | | | (_| |  __/ |
 *     /_____/|_|_|\__,_|\___/_|
 *
 *
 */
.slider {
  position: relative;
}
.slider.clickable {
  cursor: pointer;
}
.slider.autoHeight {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.slider > li {
  display: none;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  pointer-events: none;
}
.slider > li.selected {
  display: block;
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  pointer-events: all;
}

.controller li {
  cursor: pointer;
}
.controller li.selected {
  cursor: default;
  pointer-events: none;
}

/*                   \                           /
		.           ,                              o
		 *                 ¤     ~            .·
				______  __  __          _       *
			 |  ___/ / _// _|   *    | |
			 | |___ | |_| |_ ___  ___| |_ ____
		.  |  __/ |  _|  _/ _ \/ __| __/ __/
	 ¯   | |____| | | ||  __| (__| |_\__ \    ¨
	´    |_____/|_| |_| \___|\___/\__/___/   '
																 ¸         §
	 ¸.*         ¤        *         .           .
											.            °            /
.*/
/* DEFAULT */
.slide.before {
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
}

.slide,
.slide.after {
  -webkit-transform: translate3d(0, 50%, 0);
          transform: translate3d(0, 50%, 0);
  will-change: transform;
}

.slide.before,
.slide.after {
  opacity: 0;
}

.slide.selected {
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  z-index: 11;
}
.scroll .slide.selected {
  z-index: 10;
}

.page-loaded .slide.selected {
  opacity: 1 !important;
}

/* horizontal */
.horizontal .slide,
.horizontal .slide.before {
  -webkit-transform: translate3D(-50%, 0, 0);
          transform: translate3D(-50%, 0, 0);
}

.horizontal .slide.after {
  -webkit-transform: translate3D(50%, 0, 0);
          transform: translate3D(50%, 0, 0);
}

/* FILM */
.film .slide.before {
  -webkit-transform: translate3D(0, -100%, 0);
          transform: translate3D(0, -100%, 0);
}

.film .slide.after {
  -webkit-transform: translate3D(0, 100%, 0);
          transform: translate3D(0, 100%, 0);
}

/* Horizontal */
.film.horizontal .slide.before {
  -webkit-transform: translate3D(-100%, 0, 0);
          transform: translate3D(-100%, 0, 0);
}

.film.horizontal .slide,
.film.horizontal .slide.after {
  -webkit-transform: translate3D(100%, 0, 0);
          transform: translate3D(100%, 0, 0);
}

/* ZEN */
.zen .slide.before {
  -webkit-transform: translateY(-100%) scale(0.8);
          transform: translateY(-100%) scale(0.8);
}

.zen .slide,
.zen .slide.after {
  -webkit-transform: translateY(100%) scale(0.8);
          transform: translateY(100%) scale(0.8);
}

/* Horizontal */
.zen.horizontal .slide.before {
  -webkit-transform: translateX(-100%) scale(0.8);
          transform: translateX(-100%) scale(0.8);
}

.zen.horizontal .slide,
.zen.horizontal .slide.after {
  -webkit-transform: translateX(100%) scale(0.8);
          transform: translateX(100%) scale(0.8);
}

/* STACK */
.stack .slide,
.stack .slide.after {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.stack .slide.after {
  opacity: initial;
}

.stack .slide.selected,
.stack .slide.after.active {
  z-index: 11 !important;
}

.stack .slide.before {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

/* Horizontal */
.stack.horizontal .slide,
.stack.horizontal .slide.after {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.stack.horizontal .slide.before {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

/* CARDS */
.cards .slide,
.cards .slide.after {
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  opacity: initial;
}

.cards .slide.after {
  z-index: 8 !important;
  opacity: 0;
}

.cards .slide.selected {
  z-index: 9 !important;
}

.cards .slide.before {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: 7;
}

.cards .slide.active.before {
  z-index: 10 !important;
}

/* Horizontal */
.cards.horizontal .slide,
.cards.horizontal .slide.after {
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

.cards.horizontal .slide.before {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

/* ZOOM CHANGE */
.zoom .slide.before {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.zoom .slide,
.zoom .slide.after {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
}

/* PLAIN CHANGE */
.plain .slide.before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.plain .slide,
.plain .slide.after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.plain .slide.after:after,
.plain .slide.before:after {
  opacity: 1;
  background: #111;
}

/* SPEED */
.page-loaded .fast .slide.active,
.page-loaded .fast .slide.selected {
  -webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
  transition: opacity 0.6s, -webkit-transform 0.6s;
  transition: transform 0.6s, opacity 0.6s;
  transition: transform 0.6s, opacity 0.6s, -webkit-transform 0.6s;
}

.page-loaded .slide.selected,
.page-loaded .slide.active {
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.page-loaded .slow .slide.active,
.page-loaded .slow .slide.selected {
  -webkit-transition: opacity 1.4s, -webkit-transform 1.4s;
  transition: opacity 1.4s, -webkit-transform 1.4s;
  transition: transform 1.4s, opacity 1.4s;
  transition: transform 1.4s, opacity 1.4s, -webkit-transform 1.4s;
}

.page-loaded .slide.selected.entry,
.page-loaded .slide.active.entry {
  -webkit-transition: opacity 1s, -webkit-transform 0s;
  transition: opacity 1s, -webkit-transform 0s;
  transition: transform 0s, opacity 1s;
  transition: transform 0s, opacity 1s, -webkit-transform 0s;
}

/* panels */
.slides.animated.fast .panel {
  -webkit-transition: opacity 0.6s, padding 0.5s, background 0.5s, border 0.5s, box-shadow 0.5s, -webkit-transform 0.6s;
  transition: opacity 0.6s, padding 0.5s, background 0.5s, border 0.5s, box-shadow 0.5s, -webkit-transform 0.6s;
  transition: transform 0.6s, opacity 0.6s, padding 0.5s, background 0.5s, border 0.5s, box-shadow 0.5s;
  transition: transform 0.6s, opacity 0.6s, padding 0.5s, background 0.5s, border 0.5s, box-shadow 0.5s, -webkit-transform 0.6s;
}

.slides.animated .panel {
  -webkit-transition: opacity 0.8s, padding 0.5s, background 0.5s, border 0.5s, box-shadow 0.5s, -webkit-transform 0.8s;
  transition: opacity 0.8s, padding 0.5s, background 0.5s, border 0.5s, box-shadow 0.5s, -webkit-transform 0.8s;
  transition: transform 0.8s, opacity 0.8s, padding 0.5s, background 0.5s, border 0.5s, box-shadow 0.5s;
  transition: transform 0.8s, opacity 0.8s, padding 0.5s, background 0.5s, border 0.5s, box-shadow 0.5s, -webkit-transform 0.8s;
}

.animated [class*="ae-"] {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.2, 1);
          transition-timing-function: cubic-bezier(0.25, 0.1, 0.2, 1);
}

/* Speed */
.animated.fast .animate [class*="ae-"]:not(.done),
.animated.fast.animate [class*="ae-"]:not(.done),
.animated.animate .fast [class*="ae-"]:not(.done),
.animated.animate [class*="ae-"].fast:not(.done) {
  -webkit-transition-duration: 700ms;
          transition-duration: 700ms;
}

.animated .animate [class*="ae-"]:not(.done),
.animated.animate [class*="ae-"]:not(.done) {
  -webkit-transition-duration: 800ms;
          transition-duration: 800ms;
}

.animated.slow .animate [class*="ae-"]:not(.done),
.animated.slow.animate [class*="ae-"]:not(.done),
.animated.animate .slow [class*="ae-"]:not(.done),
.animated.animate [class*="ae-"].slow:not(.done) {
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
}

/* Delays */
.animated .animate .ae-1:not(.done),
.animated.animate .ae-1:not(.done) {
  -webkit-transition-delay: 10ms;
          transition-delay: 10ms;
}

.animated .animate .ae-2:not(.done),
.animated.animate .ae-2:not(.done) {
  -webkit-transition-delay: 160ms;
          transition-delay: 160ms;
}

.animated .animate .ae-3:not(.done),
.animated.animate .ae-3:not(.done) {
  -webkit-transition-delay: 310ms;
          transition-delay: 310ms;
}

.animated .animate .ae-4:not(.done),
.animated.animate .ae-4:not(.done) {
  -webkit-transition-delay: 460ms;
          transition-delay: 460ms;
}

.animated .animate .ae-5:not(.done),
.animated.animate .ae-5:not(.done) {
  -webkit-transition-delay: 610ms;
          transition-delay: 610ms;
}

.animated .animate .ae-6:not(.done),
.animated.animate .ae-6:not(.done) {
  -webkit-transition-delay: 760ms;
          transition-delay: 760ms;
}

.animated .animate .ae-7:not(.done),
.animated.animate .ae-7:not(.done) {
  -webkit-transition-delay: 910ms;
          transition-delay: 910ms;
}

.animated .animate .ae-8:not(.done),
.animated.animate .ae-8:not(.done) {
  -webkit-transition-delay: 1060ms;
          transition-delay: 1060ms;
}

.animated .animate .ae-9:not(.done),
.animated.animate .ae-9:not(.done) {
  -webkit-transition-delay: 1210ms;
          transition-delay: 1210ms;
}

.animated .animate .ae-10:not(.done),
.animated.animate .ae-10:not(.done) {
  -webkit-transition-delay: 1360ms;
          transition-delay: 1360ms;
}

.animated.fast .animate .ae-1:not(.done),
.animated.fast.animate .ae-1:not(.done),
.animated.animate .ae-1.fast:not(.done),
.animated.animate .fast .ae-1:not(.done) {
  -webkit-transition-delay: 10ms;
          transition-delay: 10ms;
}

.animated.fast .animate .ae-2:not(.done),
.animated.fast.animate .ae-2:not(.done),
.animated.animate .ae-2.fast:not(.done),
.animated.animate .fast .ae-2:not(.done) {
  -webkit-transition-delay: 110ms;
          transition-delay: 110ms;
}

.animated.fast .animate .ae-3:not(.done),
.animated.fast.animate .ae-3:not(.done),
.animated.animate .ae-3.fast:not(.done),
.animated.animate .fast .ae-3:not(.done) {
  -webkit-transition-delay: 210ms;
          transition-delay: 210ms;
}

.animated.fast .animate .ae-4:not(.done),
.animated.fast.animate .ae-4:not(.done),
.animated.animate .ae-4.fast:not(.done),
.animated.animate .fast .ae-4:not(.done) {
  -webkit-transition-delay: 310ms;
          transition-delay: 310ms;
}

.animated.fast .animate .ae-5:not(.done),
.animated.fast.animate .ae-5:not(.done),
.animated.animate .ae-5.fast:not(.done),
.animated.animate .fast .ae-5:not(.done) {
  -webkit-transition-delay: 410ms;
          transition-delay: 410ms;
}

.animated.fast .animate .ae-6:not(.done),
.animated.fast.animate .ae-6:not(.done),
.animated.animate .ae-6.fast:not(.done),
.animated.animate .fast .ae-6:not(.done) {
  -webkit-transition-delay: 510ms;
          transition-delay: 510ms;
}

.animated.fast .animate .ae-7:not(.done),
.animated.fast.animate .ae-7:not(.done),
.animated.animate .ae-7.fast:not(.done),
.animated.animate .fast .ae-7:not(.done) {
  -webkit-transition-delay: 610ms;
          transition-delay: 610ms;
}

.animated.fast .animate .ae-8:not(.done),
.animated.fast.animate .ae-8:not(.done),
.animated.animate .ae-8.fast:not(.done),
.animated.animate .fast .ae-8:not(.done) {
  -webkit-transition-delay: 710ms;
          transition-delay: 710ms;
}

.animated.fast .animate .ae-9:not(.done),
.animated.fast.animate .ae-9:not(.done),
.animated.animate .ae-9.fast:not(.done),
.animated.animate .fast .ae-9:not(.done) {
  -webkit-transition-delay: 810ms;
          transition-delay: 810ms;
}

.animated.fast .animate .ae-10:not(.done),
.animated.fast.animate .ae-10:not(.done),
.animated.animate .ae-10.fast:not(.done),
.animated.animate .fast .ae-10:not(.done) {
  -webkit-transition-delay: 910ms;
          transition-delay: 910ms;
}

.animated.slow .animate .ae-1:not(.done),
.animated.slow.animate .ae-1:not(.done),
.animated.animate .ae-1.slow:not(.done),
.animated.animate .slow .ae-1:not(.done) {
  -webkit-transition-delay: 10ms;
          transition-delay: 10ms;
}

.animated.slow .animate .ae-2:not(.done),
.animated.slow.animate .ae-2:not(.done),
.animated.animate .ae-2.slow:not(.done),
.animated.animate .slow .ae-2:not(.done) {
  -webkit-transition-delay: 210ms;
          transition-delay: 210ms;
}

.animated.slow .animate .ae-3:not(.done),
.animated.slow.animate .ae-3:not(.done),
.animated.animate .ae-3.slow:not(.done),
.animated.animate .slow .ae-3:not(.done) {
  -webkit-transition-delay: 410ms;
          transition-delay: 410ms;
}

.animated.slow .animate .ae-4:not(.done),
.animated.slow.animate .ae-4:not(.done),
.animated.animate .ae-4.slow:not(.done),
.animated.animate .slow .ae-4:not(.done) {
  -webkit-transition-delay: 610ms;
          transition-delay: 610ms;
}

.animated.slow .animate .ae-5:not(.done),
.animated.slow.animate .ae-5:not(.done),
.animated.animate .ae-5.slow:not(.done),
.animated.animate .slow .ae-5:not(.done) {
  -webkit-transition-delay: 810ms;
          transition-delay: 810ms;
}

.animated.slow .animate .ae-6:not(.done),
.animated.slow.animate .ae-6:not(.done),
.animated.animate .ae-6.slow:not(.done),
.animated.animate .slow .ae-6:not(.done) {
  -webkit-transition-delay: 1010ms;
          transition-delay: 1010ms;
}

.animated.slow .animate .ae-7:not(.done),
.animated.slow.animate .ae-7:not(.done),
.animated.animate .ae-7.slow:not(.done),
.animated.animate .slow .ae-7:not(.done) {
  -webkit-transition-delay: 1210ms;
          transition-delay: 1210ms;
}

.animated.slow .animate .ae-8:not(.done),
.animated.slow.animate .ae-8:not(.done),
.animated.animate .ae-8.slow:not(.done),
.animated.animate .slow .ae-8:not(.done) {
  -webkit-transition-delay: 1410ms;
          transition-delay: 1410ms;
}

.animated.slow .animate .ae-9:not(.done),
.animated.slow.animate .ae-9:not(.done),
.animated.animate .ae-9.slow:not(.done),
.animated.animate .slow .ae-9:not(.done) {
  -webkit-transition-delay: 1610ms;
          transition-delay: 1610ms;
}

.animated.slow .animate .ae-10:not(.done),
.animated.slow.animate .ae-10:not(.done),
.animated.animate .ae-10.slow:not(.done),
.animated.animate .slow .ae-10:not(.done) {
  -webkit-transition-delay: 1810ms;
          transition-delay: 1810ms;
}

/* Directions */
.animated [class*="ae-"]:not(.done),
.animated .fromBottom [class*="ae-"]:not(.done),
.animated.fromBottom [class*="ae-"]:not(.done),
.slides.animated [class*="ae-"].fromBottom:not(.done) {
  visibility: hidden;
  -webkit-transform: translate3d(0, 100px, 0);
          transform: translate3d(0, 100px, 0);
  opacity: 0;
}

.animated .fromTop [class*="ae-"]:not(.done),
.animated.fromTop [class*="ae-"]:not(.done),
.slides.animated [class*="ae-"].fromTop:not(.done) {
  -webkit-transform: translate3d(0, -100px, 0);
          transform: translate3d(0, -100px, 0);
}

.animated .fromLeft [class*="ae-"]:not(.done),
.animated.fromLeft [class*="ae-"]:not(.done),
.slides.animated [class*="ae-"].fromLeft:not(.done) {
  -webkit-transform: translate3d(-100px, 0, 0);
          transform: translate3d(-100px, 0, 0);
}

.animated .fromRight [class*="ae-"]:not(.done),
.animated.fromRight [class*="ae-"]:not(.done),
.slides.animated [class*="ae-"].fromRight:not(.done) {
  -webkit-transform: translate3d(100px, 0, 0);
          transform: translate3d(100px, 0, 0);
}

.animated .fromCenter [class*="ae-"]:not(.done),
.animated.fromCenter [class*="ae-"]:not(.done),
.slides.animated [class*="ae-"].fromCenter:not(.done) {
  -webkit-transform: scale(0.8) translate3d(0, 0, 0);
          transform: scale(0.8) translate3d(0, 0, 0);
}

.animated .fromAbove [class*="ae-"]:not(.done),
.animated.fromAbove [class*="ae-"]:not(.done),
.slides.animated [class*="ae-"].fromAbove:not(.done) {
  -webkit-transform: scale(1.2) translate3d(0, 0, 0);
          transform: scale(1.2) translate3d(0, 0, 0);
}

.animated .fromBottomLeft [class*="ae-"]:not(.done),
.animated.fromBottomLeft [class*="ae-"]:not(.done),
.slides.animated [class*="ae-"].fromBottomLeft:not(.done) {
  -webkit-transform: translate3d(-100px, 100px, 0);
          transform: translate3d(-100px, 100px, 0);
}

.animated .fromTopLeft [class*="ae-"]:not(.done),
.animated.fromTopLeft [class*="ae-"]:not(.done),
.slides.animated [class*="ae-"].fromTopLeft:not(.done) {
  -webkit-transform: translate3d(-100px, -100px, 0);
  transform: translate3d(-100px, -100px, 0);
}

.animated .fromBottomRight [class*="ae-"]:not(.done),
.animated.fromBottomRight [class*="ae-"]:not(.done),
.slides.animated [class*="ae-"].fromBottomRight:not(.done) {
  -webkit-transform: translate3d(100px, 100px, 0);
          transform: translate3d(100px, 100px, 0);
}

.animated .fromTopRight [class*="ae-"]:not(.done),
.animated.fromTopRight [class*="ae-"]:not(.done),
.slides.animated [class*="ae-"].fromTopRight:not(.done) {
  -webkit-transform: translate3d(100px, -100px, 0);
          transform: translate3d(100px, -100px, 0);
}

.animated .fadeIn [class*="ae-"]:not(.done),
.animated.fadeIn [class*="ae-"]:not(.done),
.slides.animated [class*="ae-"].fadeIn:not(.done) {
  -webkit-transform: scale(1) translate3d(0, 0, 0);
          transform: scale(1) translate3d(0, 0, 0);
}

.animated .fromBlur [class*="ae-"]:not(.done),
.animated.fromBlur [class*="ae-"]:not(.done),
.slides.animated [class*="ae-"].fromBlur:not(.done) {
  -webkit-transform: scale(1) translate3d(0, 0, 0);
          transform: scale(1) translate3d(0, 0, 0);
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Final Step */
.slides.animated .animate.active [class*="ae-"]:not(.done),
.slides .animated.animate.active [class*="ae-"]:not(.done) {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-filter: none;
          filter: none;
}
.slides.animated .kenBurns .background,
.slides.animated .kenBurns.zoomout .background,
.slides.animateOnScroll .kenBurns .background,
.slides.animateOnScroll .kenBurns.zoomout .background {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 0.2;
  z-index: 1;
}

.slides.animated .kenBurns:not(.video) .background,
.slides.animated .kenBurns.zoomout:not(.video) .background,
.slides.animateOnScroll .kenBurns:not(.video) .background,
.slides.animateOnScroll .kenBurns.zoomout:not(.video) .background {
  -webkit-transition: opacity 1s ease, -webkit-transform 5s cubic-bezier(0.3, 0, 0.7, 1);
  transition: opacity 1s ease, -webkit-transform 5s cubic-bezier(0.3, 0, 0.7, 1);
  transition: transform 5s cubic-bezier(0.3, 0, 0.7, 1), opacity 1s ease;
  transition: transform 5s cubic-bezier(0.3, 0, 0.7, 1), opacity 1s ease, -webkit-transform 5s cubic-bezier(0.3, 0, 0.7, 1);
}

.animated .active.kenBurns:not(.video) .background,
.animated .active.kenBurns.zoomout:not(.video) .background,
.animated .active .kenBurns.zoomout:not(.video) .background,
.animateOnScroll .active.kenBurns:not(.video) .background,
.animateOnScroll .active.kenBurns.zoomout:not(.video) .background,
.animateOnScroll .active .kenBurns.zoomout:not(.video) .background {
  opacity: 1;
  -webkit-transform: scale(1.05) rotate(-0.02deg);
          transform: scale(1.05) rotate(-0.02deg);
}

*/
html {
  font-size: 6px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #303030;
}
@media (max-width: 550px) {
  html {
    font-size: 5px;
  }
}
@media (min-width: 767px) {
  html {
    font-size: 7px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 8px;
  }
}

body {
  font-size: 16px;
}


.pink {
  background: #E91E63 !important;
  color: #fff !important;
}
.pink svg {
  fill: #fff !important;
}

.teal {
  background: #009688 !important;
  color: #fff !important;
}
.teal svg {
  fill: #fff !important;
}

/* Welcome new Grid! */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -2%;
  margin-right: -2%;
  /* default spaces */
  /* alignments */
}
.flex [class*='col-'] {
  padding-left: 2%;
  padding-right: 2%;
}
.flex.fixedSpaces {
  margin-left: -14px;
  margin-right: -14px;
}
.flex.fixedSpaces [class*='col-'] {
  padding-left: 14px;
  padding-right: 14px;
}
.flex.noSpaces {
  margin-left: 0;
  margin-right: 0;
}
.flex.noSpaces [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}
.flex.verticalCenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex.reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
.flex.bottom [class*='col-'], .flex.reverse.top [class*='col-'] {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.flex.top [class*='col-'], .flex.reverse.bottom [class*='col-'] {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.flex > .col-1-12 {
  width: 8.33333%;
}
.flex > .col-2-12 {
  width: 16.66667%;
}
.flex > .col-3-12 {
  width: 25%;
}
.flex > .col-4-12 {
  width: 33.33333%;
}
.flex > .col-5-12 {
  width: 41.66667%;
}
.flex > .col-6-12 {
  width: 50%;
}
.flex > .col-7-12 {
  width: 58.33333%;
}
.flex > .col-8-12 {
  width: 66.66667%;
}
.flex > .col-9-12 {
  width: 75%;
}
.flex > .col-10-12 {
  width: 83.33333%;
}
.flex > .col-11-12 {
  width: 91.66667%;
}
.flex > .col-12-12 {
  width: 100%;
}

/* ipad landscape and > */
@media (max-width: 1023px) {
  .flex:not(.later) > [class*='col-']:not([class*='col-phablet-']):not([class*='col-phone-']) {
    width: 100%;
  }

  .flex > .col-tablet-1-1 {
    width: 100% !important;
  }

  .flex > .col-tablet-1-2 {
    width: 50% !important;
  }

  .flex > .col-tablet-1-3 {
    width: 33.33333333% !important;
  }

  .flex > .col-tablet-1-4 {
    width: 25% !important;
  }
}
/* phablet landscape and ipad portrait and > */
@media (max-width: 767px) {
  .flex.later > [class*='col-']:not([class*='col-phone-']) {
    width: 100%;
  }

  .flex > .col-phablet-1-1 {
    width: 100% !important;
  }

  .flex > .col-phablet-1-2 {
    width: 50% !important;
  }

  .flex > .col-phablet-1-3 {
    width: 33.33333333% !important;
  }
}
/* phone portrait and > */
@media (max-width: 435px) {
  .flex > [class*='col-'] {
    width: 100%;
  }

  .flex > .col-phone-1-1 {
    width: 100% !important;
  }

  .flex > .col-phone-1-2 {
    width: 50% !important;
  }
}

.grid.grid-69 {
  margin-left: -8px;
  margin-right: -8px;
}

.grid-69 [class*='col-'],
.grid-69 [class*='col-'].selected {
  padding: 8px;
  pointer-events: all;
}

.box-69 {
  display: block;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  background-size: cover;
  color: #303030;
}

.features-84 {
  margin: 35px 0 45px;
  line-height: 1.29;
  font-size: 17px;
}

.grid-85 {
  color: #303030;
  margin-top: 50px;
}

.grid-85 .button {
  margin-left: 0;
  margin-right: 0;
}

.grid.grid-85 > [class*='col-'] {
  padding: 37px 25px 30px;
  position: relative;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .grid.grid-85 > [class*='col-'] {
    border-radius: 0px;
  }

  .grid.grid-85 > [class*='col-']:last-child {
    border-radius: 0 20px 20px 0;
  }

  .grid.grid-85 > [class*='col-']:first-child {
    border-radius: 20px 0 0 20px;
  }

  .grid.grid-85 > [class*='col-']:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: #EBEBEB;
  }

  .grid.grid-85 > [class*='col-']:last-child:after {
    display: none;
  }
}

.price-85 {
  font-size: 70px;
  line-height: 0.825;
  font-weight: 100;
  position: relative;
}

.currency-85 {
  position: absolute;
  font-size: 40px;
  font-weight: 400;
  opacity: 0.6;
  top: 14px;
  margin-left: -35px;
}

.features-85 {
  margin: 35px 0 45px;
  line-height: 1.35;
  font-size: 17px;
}

@media (max-width: 1200px) and (min-width: 1024px) {
  .price-85 {
    font-size: 70px;
  }
}

.italic {
  font-style: italic !important;
}

.top {
  vertical-align: top !important;
}

.left {
  text-align: left !important;
}

.center {
  text-align: center !important;
}

.margin-top-3 {
  margin-top: 30px !important;
}

.margin-top-6 {
  margin-top: 60px !important;
}

.margin-bottom-1 {
  margin-bottom: 10px !important;
}

.crop {
  margin: 0 !important;
}

.cropBottom {
  margin-bottom: 0 !important;
}



/*# sourceMappingURL=slides.css.map */